{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}E

{% block main %}
    <form action="/sell" method="post">
        <label>
            <select name="symbol" required class="form-control">
                {% for stock in stocks %}
                    <option value="{{ stock["symbol"] }}">{{ stock["symbol"] }}
                {% endfor %}
            </select>
        </label>
        <div class="form-group">
            <label>
                <input autofocus class="form-control" name="shares" placeholder="Shares" type="number">
            </label>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
