.text-center {
    text-align: center;
    vertical-align: center;
}

#cs50 {
    vertical-align: center;
    background-repeat: no-repeat;
    width: 40%;
    margin-top: 20px;
}

#me {
    width: 50%;
}

.images {
    border-radius: 10px;
    width: 45%;
}

#button {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
